@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  line-height: 1.6;
}

#container {
  padding: 8rem;
  background-color: #d62977;
}

#topSection {
  display: flex;
  align-items: center;
}

#addText {
  display: none; /* to hide div */
  margin: 30px 0;
}

.arrow-down {
  border-left: 12px solid transparent; /* to create arrow */
  border-right: 12px solid transparent; /* to create arrow */
  border-top: 18px solid #fff; /* to create arrow */
  margin-right: 15px;
  cursor: pointer;
  transition: all 0.2s;
}
